<div class="layout-shell">
  <!-- Topbar -->
  <app-topbar (toggleMenu)="toggleSidebar()"></app-topbar>

  <div class="layout-body d-flex position-relative">
    <!-- Overlay -->
    <ng-container *ngIf="isSidebarOpen()">
      <div class="sidebar-overlay d-lg-none" (click)="toggleSidebar()"></div>
    </ng-container>

    <!-- Sidebar -->
    <app-sidebar [isSidebarOpen]="isSidebarOpen()"></app-sidebar>

    <!-- Main Content -->
    <main class="main-content px-2 py-2">
      <div class="main-content-body">
        <router-outlet></router-outlet>
      </div>

      <footer class="app-footer text-end py-1 px-3 small">
        <div>Bootcamp Talento Tech 2026 · Programación</div>
        <div>
          Universidad de Antioquia · Universidad de Caldas · Ubicua · Ministerio de Tecnologías de
          la Información y las Comunicaciones (MinTIC) · Departamento de Antioquia.
        </div>
        <div><strong>Desarrollado por Adrian Cano · Robert Leguizamón</strong></div>
      </footer>
    </main>
  </div>
</div>
