<div class="login-page d-flex align-items-center justify-content-center vh-100">
  <div class="card login-card shadow-sm border-0">
    <!-- Decoración superior similar a tus metric-cards -->
    <div class="login-header-decorator"></div>

    <div class="card-body p-5">
      <div class="text-center mb-4">
        <div class="icon-circle mb-3">
          <img src="images/logo-energy.png" alt="Logo" class="login-logo-img">
        </div>
        <h4 class="fw-bold">Gestión de Energía</h4>
        <p class="text-muted small">Inicie sesión para acceder al dashboard</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label text-muted small fw-bold">Usuario</label>
          <div class="input-group">
            <span class="input-group-text bg-light border-end-0"><i class="bi bi-person"></i></span>
            <input type="text" formControlName="username" class="form-control bg-light border-start-0"
              placeholder="Ej: admin">
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label text-muted small fw-bold">Contraseña</label>
          <div class="input-group">
            <span class="input-group-text bg-light border-end-0"><i class="bi bi-lock"></i></span>
            <input type="password" formControlName="password" class="form-control bg-light border-start-0"
              placeholder="••••••••">
          </div>
        </div>

        @if (errorMessage) {
        <div class="alert alert-danger py-2 small mb-4 border-0">
          <i class="bi bi-exclamation-triangle-fill me-2"></i> {{ errorMessage }}
        </div>
        }

        <button type="submit" class="btn btn-primary w-100 py-2 fw-bold" [disabled]="loginForm.invalid || loading">
          <span *ngIf="!loading">Ingresar al Sistema</span>
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        </button>
      </form>
    </div>
  </div>
</div>