<nav id="sidebar" [class.show]="isSidebarOpen()" class="sidebar p-3">
  <ul class="nav flex-column mt-3">
    <li class="nav-item mb-2">
      <a
        class="nav-link"
        [routerLink]="getRoutePath('dashboard')"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bi bi-speedometer2 me-2"></i>Dashboard
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('produccion')" routerLinkActive="active">
        <i class="bi bi-bar-chart me-2"></i>Producción
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('consumo')" routerLinkActive="active">
        <i class="bi bi-lightning me-2"></i>Consumo
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('capacidad')" routerLinkActive="active">
        <i class="bi bi-building me-2"></i>Capacidad Instalada
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('comparativas')" routerLinkActive="active">
        <i class="bi bi-graph-up me-2"></i>Comparativas
      </a>
    </li>
    <hr class="text-secondary" />
    <small class="text-uppercase text-muted mb-2">Admin</small>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('users')" routerLinkActive="active">
        <i class="bi bi-people me-2"></i>Gestión de Usuarios
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('countries')" routerLinkActive="active">
        <i class="bi bi-globe-americas me-2"></i>Gestión de Países
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('regions')" routerLinkActive="active">
        <i class="bi bi-map me-2"></i>Gestión de Regiones
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('companies')" routerLinkActive="active">
        <i class="bi bi-buildings me-2"></i>Gestión de Empresas
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('energyTypes')" routerLinkActive="active">
        <i class="bi bi-lightning-charge me-2"></i>Tipos de Energía
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" [routerLink]="getRoutePath('powerPlants')" routerLinkActive="active">
        <i class="bi bi-building me-2"></i>Power Plants
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" href="#"> <i class="bi bi-gear me-2"></i>Gestión de Datos </a>
    </li>
  </ul>
</nav>
